#dropDownList
{
	display: none;
	position: fixed;
	background-color: #000033;
	user-select: none;
	-moz-user-select: none;
}
#dropDownListHeader
{
	background-color:#373753;
	width:100%;
	
}
#dropDown 
{
	width: 100%;
	height: 30px;
}

.dropDown-content {
    display: none;
    z-index: 1;
	cursor: pointer;
}

#dropDown:hover .dropDown-content {
    display: block;
}
#dropDown:hover {
    height:170px;
}
.dropDown-content:hover
{
	background-color: #8080ff;
}
